<template>
    <Page>
        <ActionBar>
				<Label text="Actividad final Sistemas operativos"/>
		</ActionBar>
		<StackLayout rows="115, 115" columns="*" >
            <TextField v-model="ip" hint="Ingrese el servidor" />
			<TextField v-model="data.name" hint="Ingrese su nombre" />
			<TextField keyboardType="number" v-model="data.age" hint="Ingrese su edad" />
			<FlexboxLayout justifyContent="center"	 orientation="horizontal">
				<Button :isEnabled="allowSend" text="Enviar" @tap="send" />
			</FlexboxLayout>
            <ActivityIndicator :busy="showPreload" />
            <ListView for="item in list">
                <v-template>
                    <Label>Nombre: {{item.name}} - {{item.age}} años</Label>
                </v-template>
            </ListView>
		</StackLayout>
    </Page>
</template>

<script>
    import { Http } from "@nativescript/core"
    export default {
        data() {
            return {
                ip: 'http://192.168.1.138:80/registro.php',
                data: {
                    name: '',
                    age: ''
                },
                list: [],
                showPreload: false
            }
        },
        mounted() {
            this.getPersons()
        },
        methods: {
            getPersons() {
               this.showPreload = true
                Http.request({
                    url: this.ip,
                    method: 'GET'
                }).then(
                (result) => {
                    this.list = result.content.toJSON()
                    this.showPreload = false
                },
                e => console.log('Error :>> ', e)
                )
            },
            send() {
                this.showPreload = true
                Http.request({
                    url: this.ip,
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    content: JSON.stringify({
                        name: this.data.name,
                        age: this.data.age,
                    }),
                    }).then( (response ) => {
                            this.data.name = ''
                            this.data.age = ''
                            this.showPreload = false
                            alert({
                                title: 'Operación exitosa',
                                message: 'Se insertó correctamente',
                                okButtonText: 'Okay',
                                cancelable: false // [Android only] Gets or sets if the di alog can be canceled by taping outside of the dialog.
                            })
                            this.getPersons()
                        }
                    )
            }
        },
        computed: {
            allowSend() {
                return this.data.name !== '' && this.data.age !== '' && this.ip !== ''
            }
        }
    };
</script>

<style scoped lang="scss">
    @import '@nativescript/theme/scss/variables/blue';

    // Custom styles
    .fas {
        @include colorize($color: accent);
    }

    .info {
        font-size: 20;
        horizontal-align: center;
        vertical-align: center;
    }
</style>
